<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Button Box Component</title>
    <link rel="icon" href="../../favicon/apple-favicon.svg" />
    <link rel="apple-touch-icon" href="../../favicon/apple-favicon.svg" />
    <link
      href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/variable/woff2/SUIT-Variable.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./button-box.css" />
  </head>
  <body>
    <!-- 버튼 박스 컴포넌트 -->
    <!-- ST: Button-box -->
    <div class="button-box">
      <a href="/" class="button fill-btn">더 알아보기</a>
      <a href="/" class="button outline-btn">더 알아보기</a>
    </div>
    <!-- ED: Button-box -->
  </body>
</html>
