<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Button Component</title>
    <link rel="icon" href="../../favicon/apple-favicon.svg" />
    <link rel="apple-touch-icon" href="../../favicon/apple-favicon.svg" />
    <link
      href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/variable/woff2/SUIT-Variable.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./button.css" />
  </head>
  <body>
    <!-- 버튼 컴포넌트 -->
    <!-- ST: Fill Button -->
    <a href="/" class="button fill-btn blue">더 알아보기</a>
    <a href="/" class="button fill-btn black">더 알아보기</a>
    <a href="/" class="button fill-btn disabled">더 알아보기</a>
    <!-- ED: Fill Button -->

    <!-- ST: Outline Button -->
    <a href="/" class="button outline-btn blue">가격 보기</a>
    <a href="/" class="button outline-btn black">가격 보기</a>
    <a href="/" class="button outline-btn disabled">가격 보기</a>
    <!-- ED: Outline Button -->
  </body>
</html>
