@import "../text-box/text-box.css";

/** 카드 컴포넌트**/

.card {
  --card-height: var(--size);
  --text-box-spacing: var(--large-spacing);

  padding-block-start: var(--text-box-spacing);
  height: var(--card-height);
  block-size: var(--card-height);

  @media (min-width: 1024px) {
    --text-box-spacing: var(--extra-large-spacing);
  }
}
